@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
        


       <h1>Ağaçlar hakkında pek çok şey burada, hoşgeldiniz!</h1>
          <p class="lead">
            İnsan hayatıyla bir ağacın hayatı pek çok noktada kesişir.
            Bu sitede ağaç nedir, çeşitleri nelerdir, neden önemlidir, nasıl türleri vardır gibi soruların cevaplarını bulabileceksiniz.
        </p>
        
</div>

<div class="row">
    <div class="col-md-4">
        <h2>   Orman Yangını İhbar Hattı</h2>
        <p>
            <img src="~/Content/ihbar.png" alt="Alo 177" width="370" height="280" />
        </p>
    </div>
    <div class="col-md-4">
        <h2>Doğadan Çaldığın Yeter!</h2>

        <p><img src="~/Content/dogaicin.gif" alt="logo" width="210" height="190" /> </p>

       <p> Farklı farklı müzisyenleri doğa için, yeşil için bir araya getiren bir projedir "Doğa İçin Çal".</p>
        <p><a class="btn btn-default" href="http://www.dogaicincal.com/">Göz atmak için: &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Ağaçlarımızı Korumak İçin</h2>
        <p><img src="~/Content/pit.jpg" alt="logo" width="300" height="160" /> </p>

        <p>Türkiye'de yeşili korumak için çalışan vakıflardan biri de Tema Vakfıdır. Dilerseniz küçük veya büyük, sitesi üzerinden bağış yapabilirsiniz.</p>
        <p><a class="btn btn-default" href="http://www.tema.org.tr/web_14966-2_1/index.aspx">Ziyaret etmek için: &raquo;</a></p>
    </div>
</div>